/* 
Partial reset taken from 
http://meyerweb.com/eric/tools/css/reset/ 
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}

/* ****************** */
/* <---- HEADER ----> */
/* ****************** */

header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

#search-container {
  display: flex;
}

#search-input {
  border: none;
  background-color: rgb(213, 213, 213);
  text-indent: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#search-btn {
  border-style: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#toggle-temp {
  display: flex;
  gap: 15px;
  border-radius: 10px;
}

/* **************** */
/* <---- MAIN ----> */
/* **************** */

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* <---- CURRENT INFO ----> */
#current-container {
  border: 1px solid #000;
  width: 50%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#current-header {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#current-date,
#current-time {
  font-size: 1.5rem;
}

#current-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#current-display {
  border: 1px solid blue;
  display: grid;
  grid-template: auto auto auto / 120px;
  align-content: center;
  justify-content: end;
  padding-right: 20px;
  gap: 5px;
}

#today-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 10px;
}

#temp-now {
  font-size: 4.5rem;
  display: flex;
  justify-content: center;
}

#current-highlow {
  display: flex;

  justify-content: space-between;
  border: 1px solid #000;
}

/* <---- HOURLY INFO ----> */
#hourly-container {
  display: flex;
  width: 80%;
  overflow-x: scroll;
  gap: 25px;
  height: 150px;
  padding: 10px;
}

.single-hour-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ****************** */
/* <---- FOOTER ----> */
/* ****************** */
