/* 
Partial reset taken from 
http://meyerweb.com/eric/tools/css/reset/ 
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --main-bg-color: rgb(202, 202, 202);
  --searchbar-color: gray;
  --search-btn-color: rgb(107, 107, 107);
  --font-color: black;
  --footer-font-color: white;
}

:root.cloudy {
  --main-bg-color: rgba(131, 131, 131, 0.599);
  --searchbar-color: gray;
  --search-btn-color: rgb(107, 107, 107);
  --font-color: rgb(255, 255, 255);
  --bg-image: url("images/cloudy.png");
  --footer-font-color: white;
}

:root.snowing {
  --main-bg-color: rgba(202, 202, 202, 0.428);
  --searchbar-color: gray;
  --search-btn-color: rgb(107, 107, 107);
  --font-color: black;
  --bg-image: url("images/snowing.png");
  --footer-font-color: white;
}

:root.sunny {
  --main-bg-color: rgba(202, 202, 202, 0.428);
  --searchbar-color: gray;
  --search-btn-color: rgb(107, 107, 107);
  --font-color: black;
  --bg-image: url("images/sunny.png");
  --footer-font-color: white;
}

:root.clearSky {
  --main-bg-color: rgba(17, 0, 6, 0.564);
  --searchbar-color: gray;
  --search-btn-color: rgb(107, 107, 107);
  --font-color: rgb(255, 255, 255);
  --bg-image: url("images/clear_sky.png");
  --footer-font-color: white;
}

:root.misty {
  --main-bg-color: rgba(202, 202, 202, 0.64);
  --searchbar-color: gray;
  --search-btn-color: rgb(107, 107, 107);
  --font-color: black;
  --bg-image: url("images/misty.png");
  --footer-font-color: white;
}
:root.raining {
  --main-bg-color: rgba(105, 105, 105, 0.55);
  --searchbar-color: gray;
  --search-btn-color: rgb(107, 107, 107);
  --font-color: rgb(255, 255, 255);
  --bg-image: url("images/raining.png");
  --footer-font-color: white;
}

body {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Calibri Light", sans-serif;
  color: var(--font-color);
}

.temp-unit {
  font-family: "Major Mono Display", sans-serif;
  font-family: "Instanbul Pro", sans-serif;
  font-weight: 700;
}

a {
  color: rgb(208, 26, 208);
}

/* ****************** */
/* <---- HEADER ----> */
/* ****************** */

.header {
  display: flex;
  justify-content: space-between;

  margin: 20px;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  align-items: center;
}

.page-title {
  font-family: "Rostack", sans-serif;
  font-size: calc(20px + 3vw);
  width: 25%;
  display: flex;
  align-self: center;
  align-items: center;
}

#search-container {
  display: flex;
  height: 30px;
  width: 50%;
}

#search-input {
  border: none;
  background-color: rgb(213, 213, 213);
  text-indent: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: clamp(200px 30vw 400px);
  height: 30px;
}

#search-btn {
  border-style: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--search-btn-color);
}

#toggle-cont {
  width: 25%;
}

#toggle-temp {
  display: flex;
  gap: 15px;
  border-radius: 10px;
  justify-self: flex-end;
}

/* **************** */
/* <---- MAIN ----> */
/* **************** */

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* <---- CURRENT INFO ----> */
#current-container {
  width: 50%;
  display: grid;
  grid-template-rows: auto auto;
  border-radius: 15px;
  padding: 20px;
  background-color: var(--main-bg-color);
}

#current-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#current-date,
#current-time {
  font-size: 1.5rem;
}

#current-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#current-display {
  display: grid;
  grid-template: auto auto auto auto / 120px;
  align-content: center;
  justify-content: center;
  padding-right: 20px;
  gap: 5px;
}

#today-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
}

#temp-now {
  font-size: 6rem;
  display: flex;
  justify-content: center;
  font-family: "Red Hook", sans-serif;
  font-weight: 500;
}

#current-highlow {
  display: flex;
  justify-content: space-between;
}

/* <---- HOURLY INFO ----> */
#extra-hourly-cont {
  display: flex;
  width: 50%;
  border-radius: 15px;

  padding: 20px;
  background-color: var(--main-bg-color);
}

#empty {
  width: 0px;
  height: 150px;
  content: "";
}

#hourly-container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  gap: 25px;
  height: 200px;
  padding-bottom: 20px;
}

.single-hour-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* <---- DAILY INFO ----> */
#daily-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;

  border-radius: 15px;
  padding: 20px;
  background-color: var(--main-bg-color);
}

#daily-container > div {
  align-items: center;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.day-of-week {
  font-size: 1.5rem;
}

.daily-high-low {
  display: flex;
  gap: 15px;
  align-items: center;
}

.daily-temp-high {
  font-size: 1.5rem;
  font-weight: 800;
}

.daily-temp-low {
  font-weight: 300;
}

.daily-snow-chance {
  display: none;
}
/* ****************** */
/* <---- FOOTER ----> */
/* ****************** */

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
  color: var(--footer-font-color);
}

/* ****************** */
/* <---- MEDIA ----> */
/* ****************** */
@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .page-title {
    font-size: 30px;
  }
}
